/* BANNER */
.banner {
    height: 400px;
    min-height: 400px;
    background: #d7d7d7;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .search-tags {
    margin-top: 1em;
    border-radius: 10px;
    font-size: 10px;
  }
  .tags {
    border-radius: 10px;
    letter-spacing: 1px;
    padding: 1px 10px;
    margin: 2px 3px;
    border: 1px solid #9f9f9f;
  }
   .tags.inactive {
     background: inherit;
   }
   .tags.active {
    background: red;
  }
  /* TODO: fix styling later */
   .search-input-wrapper {
    width: 50%;
    margin: 0 auto;
    position: relative;  
    display: flex;
    flex: nowrap;
  }
  .rbt {
    width: 80%!important;
  }
  .form-control {
    border: none!important;
    box-sizing: border-box!important;
    height: 100%!important;
    border-bottom-left-radius: 20px!important;
    border-top-left-radius: 20px!important;  
  }
  .rsw {
    width: 10%;
  }
   .search-btn {
    border: none;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;  
    box-sizing: border-box;
    background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    outline: none!important;
  }
  .search-btn:focus {
    color: #495057;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

