// IPADS
@media only screen and (max-width: 1024px) {
  // Home
  .main-wrapper {
    .container-bootcamps {
      width: 90%;
      margin: -20px auto 20px auto;
      padding: 20px;
    }
  }
  // Results
  .results-content-wrapper {
    width: 100%;
    padding: 0 20px 180px 20px;
  }
  // reviewform
  .review-form-container {
    width: 90%;
    .checkboxes {
      .checkbox {
        width: 5%;
      }
      .checkbox-label {
        width: 95%;
      }
    }
  }
  // bootcamp
  .reviews-content-wrapper {
    padding-bottom: 180px;
    .bootcamps-header {
      .bootcamps-header-container {
        width: 90%;
      }
    }
    // reviews content
    .reviews-main {
      padding: 20px;
      .reviews-content {
        padding: 10px;
        
      }
    }
  }
  // about
  .team-wrapper {
    margin-top: 50px;
  }
  // contact
  .contact-page-wrapper {
    .contact-block {
      width: 60%;
    }
  }
  // terms
  .legal-wrapper {
    margin-top: 50px;
  }
  // support
  .support-wrapper {
    padding: 60px 20px 150px 20px;
    text-align: center;
  }
}

// MOBILE -----------
@media only screen and (max-width: 736px) {
  // Home
  .main-wrapper {
    padding-bottom: 140px;

    .container-bootcamps {
      width: 90%;
      margin: -20px auto 20px auto;
      padding: 20px;
    }
  }

  // Results
  .results-content-wrapper {
    width: 100%;
    padding: 0 10px 200px 10px;

    .results-bootcamp-wrapper {
      display: block;
      margin-top: 20px;
      border-bottom: 1px solid #ff3746;
    }
    .results-bootcamp-location {
      margin: 0;
    }
    .results-bootcamp-dur-price {
      margin: 10px 0;
      justify-content: flex-start;
      .results-duration {
        margin-right: 5px;
      }
    }
    .results-bootcamp-addreview {
      text-align: left;
      button {
        border: none;
        background-color: inherit;
        color: gray;
      }
    }
  }

  // reviewform
  .review-form-container {
    width: 100%;
    padding: 20px;
  }

  // bootcamp
  .reviews-content-wrapper {
    padding-bottom: 150px;

    .bootcamps-header {
      padding: 10px 20px;
      .bootcamps-header-container {
        display: block;
        width: 100%;
      }
      .logo-wraper {
        .bootcamp-logo {
          height: 100px;
          width: 100px;
          img {
            height: 80px;
            width: 80px;
          }
        }
      }
      .bootcamp-info {
        .bootcamp-info-row0 {
          margin-bottom: 0;
        }
        .bootcamp-info-row1 {
          p {
            margin-right: 20px;
          }
        }
        .bootcamp-info-row2 {
          margin: 10px 0;
          .row2-tags {
            margin-right: 5px;
          }
        }
        .bootcamp-info-row3 {
          p {
            margin: 0 20px 0 0;
          }
        }
      }
    }
    // reviews content
    .reviews-main {
      padding: 10px 0;
      display: block;

      .aside-wrapper {
        .reviews-progress-bars {
          width: 100%;
          .progressbar-grid {
            grid-template-columns: 1fr 1fr 3fr;
          }
        }
        .bootcamp-write-a-review {
          padding: 20px;
          width: 100%;
          margin-bottom: 10px;
          h6 {
            font-size: 20px;
            line-height: 30px;
          }
          p {
            margin: 6px 0;
          }
          button {
            width: 100%;
            background-color: #fff;
            color: #000000;
            border: 1px solid #000000;
            border-radius: 4px;
            &:hover {
              color: #585757;
              border-color: #585757;
              transition: 0.3s linear;
            }
          }
        }
      }
      .reviews-content {
        padding: 10px;
        .review-warning {
          margin-bottom: 20px;
        }
      }
    }
  }

  // reviewbox
  .review-wrapper {
    .reviews-cnt {
      padding-left: 0;
    }
  }
  // about
  .team-wrapper {
    padding: 0px 20px 180px 20px;
    .leader-board {
      display: block;
      margin-bottom: 50px;
      > div {
        margin: 20px 0;
      }
    }
    hr {
      width: 60%;
    }
  }
  // contact
  .contact-page-wrapper {
    .contact-block {
      width: 90%;
      .contact-team-icons {
        width: 90%;
      }
    }
  }

  // terms
  .legal-wrapper {
    padding: 20px;
    padding-bottom: 200px;
  }

  // form complete
  .form-complete-content-wrapper {
    padding: 100px 20px;
  }
  // support
  .support-wrapper {
    width: 100%;
    padding: 60px 20px 150px 20px;
    text-align: center;
  }
}
