@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");

.reviews-content-wrapper {
  padding: 0 20px;
}
/* header content */
.bootcamps-header {
  display: grid;
  grid-template-areas: "logo headerMain";
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(200px, auto);
  column-gap: 30px;
  margin-bottom: 30px;
}
.bootcamp-logo {
  background: var(--mainGray);
  grid-area: logo;
  position: relative;
}
.bootcamp-logo img {
  height: 90%;
  width: 90%;
  object-fit: contain;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bootcamp-info {
  grid-area: headerMain;
  color: gray;
  text-align: left;
  font-size: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.bootcamp-info-row1,
.bootcamp-info-row2,
.bootcamp-info-row3 {
  text-align: inherit;
  padding: 5px 0;
}

.bootcamp-info-row1 {
  /* row 1 */
}
.star-rating-container {
  margin-right: 10px;
}
.bootcamp-info-row1 p {
  display: inline-block;
  margin: 0 30px 0 0;
}
.bootcamp-info-row2 {
  /* row 2 */
}
.bootcamp-info-row2 button {
  border-radius: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 2px 10px;
  margin: 0 10px 0 0;
}
.bootcamp-info-row3 {
  /* row 3 */
}
.bootcamp-info-row3 p {
  display: inline-block;
  margin: 0 80px 0 0;
}
.bootcamp-info-row3 p span {
  font-weight: 800;
  color: #000;
}

/* reviews content */
.reviews-main {
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(200px, auto);
  column-gap: 30px;
  margin-bottom: 30px;
}
.aside-wrapper {
  background: rgb(165, 222, 224);
  grid-area: aside;
}
.bootcamp-write-a-review {
  background: var(--mainGray);
  text-align: center;
  font-size: 12px;
  padding: 20px;
  /* min-height: 140px; */
}
.bootcamp-write-a-review h6 {
  font-weight: 800;
  margin-bottom: 10px;
  text-align: left;
}
.bootcamp-write-a-review p {
  text-align: left;
}
.bootcamp-write-a-review button {
  border: none;
  background-color: rgb(189, 186, 186);
  padding: 5px 20px;
  font-weight: bold;
}
.reviews-content {
  grid-area: content;
  background-color: rgb(165, 222, 224);
}

/* testing pagination */

.pagination {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
  width: 200px;
}
.pagination > .active > a {
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: gray;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
