.contact-page-wrapper {
    padding: 200px 30px;
    background: url('https://images.unsplash.com/photo-1491183672482-d0af0e44929d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;

    form {
        text-align: left;
        width: 400px;
        padding: 0.8em;
        font-size: 10px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            input {
                outline: none;
                border: none;
                width: 100%;
                padding: 0.8em;
                margin-bottom: 0.8em;
                border: thin solid #e5e5e5;
                border-radius: 4px;
            }

            textarea {
                outline: none;
                border: none;
                width: 100%;
                padding: 0.8em;
                min-height: 5em;
                margin-bottom: 0.8em;
                border: thin solid #e5e5e5;
                border-radius: 4px;
                vertical-align: top;
                resize: none;
            };

            button {
                outline: none;
                border: none;
                width: 100%;
                padding: 0.4em;
                margin-bottom: 0.8em;
                border: thin solid #ed4b82;
                border-radius: 4px;
                background: #ed4b82;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
            };
            // input:focus,
            // textarea:focus {
            //   border-color: #000;
            // }
        }
    }
}


