.contact-page-wrapper {
    form {
        width: 50%;
        padding: 0.8em;
        font-size: 10px;
        border-radius: 4px;
        margin: 50px auto;
        border: thin solid #000000;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            input {
                outline: none;
                border: none;
                width: 100%;
                padding: 0.8em;
                margin-bottom: 0.8em;
                border: thin solid #000000;
                border-radius: 4px;
            }

            textarea {
                outline: none;
                border: none;
                width: 100%;
                padding: 0.8em;
                min-height: 5em;
                margin-bottom: 0.8em;
                border: thin solid #000000;
                border-radius: 4px;
                vertical-align: top;
                resize: none;
            };

            button {
                outline: none;
                border: thin solid #000000;
                width: 100%;
                padding: 0.4em;
                margin-bottom: 0.8em;
                border-radius: 4px;
                font-size: 12px;
                text-transform: uppercase;
                background-color: #000000;
                color: #fff;
            };
            input:focus,
            textarea:focus {
              border-color: gray;
            }
        }
    }
}

@import 'media.scss';

