
.form-complete-content-wrapper {
    padding: 120px;
    font-size: 14px;

    a {
        color: inherit;
        text-decoration: underline;
    }
    .capitalized-schoolname {
        text-transform: capitalize;
        color: gray;
    }
}
