.main-wrapper {
    margin: 0;
    padding-bottom: 100px; /* Height of the footer element */

    .container-bootcamps {
      width: 80%;
      margin: -40px auto 40px auto; // overlap
      background-color: #fff;
      padding: 20px 60px;
      z-index: 1;
    }
    
  }

  @import './media';

  