

.legal-wrapper {
    text-align: left;
    font-family: Roboto,arial,sans-serif;
    font-size: 12px;
    padding: 20px 80px 100px 80px;

    section {
        margin-bottom: 20px;
    }
  };
@import './media';