.team-wrapper {
    padding: 100px 0;
    text-align: center;
    font-size: 12px;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin: 0.8em;
    }
  };
  