/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 736px) {
  // Header
  .navbar {
    padding: 20px!important;
    #leave-review {
      font-weight: 900;
    }
  }

  // SearchBanner
  .banner {
    height: 200px;
    min-height: 200px;

    .search-input-wrapper {
      width: 350px;
      height: 30px;
    }

    .search-tags {
      font-size: 8px;
      width: 340px;
      margin: 8px auto;

      .tags {
        letter-spacing: normal;
        padding: 2px 6px;
        margin: 2px;
      }
    }
  }

  // Footer
  footer {
    .ftr-s1 {
      padding: 20px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      .s1-s1 {
        order: 2 !important;
      }
      .s1-s2 {
        order: 1 !important;
        text-align: left;
        flex-wrap: wrap;
        align-items: flex-start;
        p {
          padding: 0;
          margin: 0;
        }
        .terms {
          order: 2 !important;
          align-self: flex-start;
          flex: 0 1 auto;
          margin-right: 5px;
          color: #ff3746;
        }
        .pp {
          order: 3 !important;
          align-self: flex-start;
          flex: 1 auto;
          color: #e4faa6;
        }
        .copyright {
          order: 1 !important;
          clear: both;
          flex-basis: 100%;
          align-self: flex-start;
        }
      }
    }
  }

  // Top
  .top-bootcamps-nav {
    display: block;
    h3 {
      font-size: 26px;
      line-height: 41px;
    }
  }
  .top-bootcamps-list-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 50%));
    .bootcamp-section {
      margin-bottom: 10px;
    }
  }

  // Remote
  .remote-bootcamps-nav {
    display: block;
    h3 {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .remote-bootcamps-list-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 50%));
    .bootcamp-section {
      margin-bottom: 10px;
    }
  }
}

//   /* Smartphones (landscape) ----------- */
//   @media only screen and (min-width : 321px) {
//   /* Styles */
//   }

//   /* Smartphones (portrait) ----------- */
//   @media only screen and (max-width : 320px) {
//   /* Styles */
//   }

//   /* iPads (portrait and landscape) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
//   /* Styles */
//   }

//   /* iPads (landscape) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
//   /* Styles */
//   }

//   /* iPads (portrait) ----------- */
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
//   /* Styles */
//   }
//   /**********
//   iPad 3
//   **********/
//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }
//   /* Desktops and laptops ----------- */
//   @media only screen  and (min-width : 1224px) {
//   /* Styles */
//   }

//   /* Large screens ----------- */
//   @media only screen  and (min-width : 1824px) {
//   /* Styles */
//   }

//   /* iPhone 4 ----------- */
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
//   /* Styles */
//   }

//   /* iPhone 5 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone 6, 7, 8 ----------- */
//   @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone 6+, 7+, 8+ ----------- */
//   @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* iPhone X ----------- */
//   @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* iPhone XS Max, XR ----------- */
//   @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* Samsung Galaxy S3 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
//   /* Styles */
//   }

//   /* Samsung Galaxy S4 ----------- */
//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   /* Samsung Galaxy S5 ----------- */
//   @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }

//   @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
//   /* Styles */
//   }
