.remote-bootcamps-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3em;
  }
  .remote-bootcamps-nav h4 {
    font-weight: 800;
  }
  .remote-bootcamps-nav a {
    font-weight: 800;
    color: inherit;
  }
  .remote-bootcamps-list-row {
    position: relative;
    margin: 1.2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bootcamp-logo-wrapper {
    border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    position: relative;
    vertical-align: top;
  }
  .bootcamp-logo-wrapper img {
    height: 180px;
    width: 180px;
    object-fit: contain;
  }
  .schoolnames-wrapper {
    text-align: left;
  }
  .review-overall {
    color: #ff9800;
    position: relative;
    font-size: 14px;
    text-align: left;
    margin: 4px 0;
  }
  #rating-empty-star-main, #rating-full-star-main {
    height: 14px;
    width: auto;
    float: left;
  }
  .total-review-count {
    color: #333;
    margin-left: 0.8em;
    font-size: 12px;
  }
  .schoolnames a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .bootcamp-location {
    font-size: 12px;
    color: #333;
    text-align: left;
  }
  /* MEDIA QUERIES START */
  
  @media only screen and (max-width: 599px) {
    /*  for-phone-only  */
    .bootcamp-section {
      display: block;
      flex-basis: 100%;
    }
    .chart-wrapper {
      width: 90% !important;
    }
  }
  @media screen and (min-width: 599px) and (max-width: 1199px) {
    .bootcamp-section {
      flex-basis: calc(90% / 2);
    }
  }
  @media only screen and (min-width: 1200px) {
    /*  for-desktop-only */
  }
  /* MEDIA QUERIES END */
