@import "../../../style/config";
@import './media';

.remote-bootcamps-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  clear: both;

  h3 {
    font-weight: 800;
    font-size: 16px;
  }
  a {
    font-weight: 800;
    color: $mainColor;
  }
}

.remote-bootcamps-list-row {
  position: relative;
  margin: 1.2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 180px));
  grid-column-gap: calc((100% - (180px * 4)) / 3);
  font-size: 14px;

  .bootcamp-logo-wrapper {
    background-color: $secondBg;
    position: relative;
    vertical-align: top;
    img {
      height: 180px;
      width: 180px;
      // object-fit: contain; 
      border: 1px solid $secondBg;
    }
  }
  .schoolnames-wrapper {
    text-align: left;

    .schoolnames {
      a {
        text-decoration: none;
        color: $secondColor;
        &:hover {
          color: #135a91;
          transition: 0.3s linear;
        }
      }
    }
  }
  .review-overall {
    color: $orange;
    position: relative;
    margin: 4px 0;
    text-align: left;
    .star-rating-container {
        #rating-empty-star-main, #rating-full-star-main {
          height: 14px;
          width: auto;
          float: left;
        }
    }
    .total-review-count {
      color: $secondColor;
      margin-left: 0.8em;
    }
  }
  .bootcamp-location {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    img {
      height: 14px;
      width: auto;
      margin-right: 3px;
      vertical-align: baseline;
    }
  }
}

@import "media";