.main-box {
  text-align: center;
}
.remote-bootcamps-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3em;
    clear: both;
  }
  .remote-bootcamps-nav h4 {
    font-weight: 800;
  }
  .remote-bootcamps-nav a {
    font-weight: 800;
    color: inherit;
  }
  .remote-bootcamps-nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
  }
  .remote-bootcamps-list-row {
    position: relative;
    margin: 1.2em auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-column-gap: calc(( 100% - (180px * 4) ) / 3)

  }
  .bootcamp-logo-wrapper {
    background-color: #d7d7d7;
    position: relative;
    vertical-align: top;
  }
  .bootcamp-logo-wrapper img {
    height: 180px;
    width: 180px;
    /* object-fit: contain; */
    border: 1px solid #d7d7d7;
  }
  .schoolnames-wrapper {
    text-align: left;
  }
  .review-overall {
    color: #ff9800;
    position: relative;
    font-size: 14px;
    text-align: left;
    margin: 4px 0;
  }
  #rating-empty-star-main, #rating-full-star-main {
    height: 14px;
    width: auto;
    float: left;
  }
  .total-review-count {
    color: #333;
    margin-left: 0.8em;
    font-size: 12px;
  }
  .schoolnames a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .bootcamp-location {
    font-size: 12px;
    color: #333;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }

    .bootcamp-location span img {
      height: 12px;
      width: auto;
      margin-right: 3px;
      vertical-align: baseline;
    }
  /* MEDIA QUERIES START */
  
  @media only screen and (max-width: 490px) {
    /* --------------- for-phone-only  ---------------------*/
     .bootcamp-section {
      /* display: block;
      flex-basis: 41%; */
      margin-top: 20px;
      border-radius: 10px;
      width: 144px;
    }
    /* .chart-wrapper {
      width: 90% !important;
    }  */
    .remote-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; */
      width: 200px;
      display: grid;
      grid-template-columns: repeat(1, 180px);
      grid-column-gap: calc(( 100% - (180px * 1) ) / 3);
      padding: 0 35px;
    }
    .bootcamp-logo-wrapper img {
      height: 140px;
      width: 140px;
      border: 1px solid #d7d7d7;
      background-color: #d7d7d7;
      /* border-radius: 30px;
      padding: 15px; */
    }
    .bootcamp-logo-wrapper {
      background-color: transparent;
      text-align: center;
    }
  }
  @media screen and (min-width: 491px) and (max-width: 768px) {
    .bootcamp-section {
      margin-top: 20px;
      margin-right: 20px;
    }
      .remote-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      
      display: grid;
      grid-template-columns: repeat(2, 180px);
      grid-column-gap: calc(( 100% - (180px * 2) ))

    }
  }
   @media screen and (min-width: 769px) and (max-width: 1199px) {
    /*  for-ipad-only  */
    .bootcamp-section {
      margin-top: 20px;
      border-radius: 10px;
    }
    .remote-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      display: grid;
      grid-template-columns: repeat(3, 180px);
      grid-column-gap: calc(( 100% - (180px * 3) ) / 2);
    }
  }
  @media only screen and (min-width: 1200px) {
    /*  for-desktop-only */

  }
  /* MEDIA QUERIES END */
