@import "../../../style/config";

.review-wrapper {
  background: transparent;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px;

  .reviews-nav {
    display: flex;
    justify-content: space-between;


    .reviews-nav-nested {
      display: flex;

      .avatar-review {
        border-radius: 100% !important;
        height: 40px;
        width: 40px;
        padding-top: 10px;
        align-self: flex-end;
        background: #000000;
        color: #ffffff;
        margin-right: 10px;
        text-align: center;
      }
      .author-author-ratings {
        #review-author {
          margin: 0;
          font-family: Halyard Text;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #000000;
        }
        .star-rating-container {
          #rating-empty-star-main,
          #rating-full-star-main {
            height: 12px;
            width: auto;
            float: left;
            margin-right: 1px;
          }
        }
      }
      .author-company {
        align-self: flex-end;
        padding-bottom: 2px;
        margin-left: 6px;
        p {
          font-family: HalyardTextLight;
          font-size: 12px;
          line-height: 14px;
          color: #7e7e7e;
        }
      }
    }
    #review-date {
      font-family: HalyardTextLight;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #a8a8a8;
    }

  }

  .reviews-cnt {
    text-align: left;
    padding-left: 50px;
    padding-top: 10px;
    #review-title {
    }
    #review-text {
      &::first-letter {
        text-transform: uppercase;
      }
    }
    #review-pros {
      margin-bottom: 10px;
      text-align: left;
    }
    #review-cons {
      text-align: left;
    }
    .highlight {
      font-family: Halyard Text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }
  }
}

@import "./media";
