@import "../../../style/config";

.banner {
  height: 400px;
  min-height: 200px;
  background: linear-gradient(180deg, #E7F3E7 78.88%, #D6EEE5 94.27%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .search-input-wrapper {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
  }

  .ui.search {
    width: 90%!important;
    .ui.icon.input {
      height: 100%!important;
      width: 100%!important;;
      .prompt {
        border-top-right-radius: 26.5px!important;
        border-bottom-right-radius: 26.5px!important;
        margin: 0;
        border: 2px solid #000000;
        border-right: 0!important;
        height: 100%!important;
        &::placeholder {
          color: #413f3f;
          letter-spacing: 1.2px;
        }
      }
      i {
        display: none!important;
      }
    }
    .results.transition {
      width: 110%!important;
    }
    .results.transition.visible {
      // limits the search options via css
      max-height: 207px;
    }
  }

  .rsw {
    width: 10%;
    height: 100%;
    position: relative;
    border: none !important;
    border-style: none;

    .search-btn {
      width: 100%;
      height: 100%;
      background: url("../../../../public/assets/search-btn-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      outline: none;
      border-top-right-radius: 26.5px;
      border-bottom-right-radius: 26.5px;
      border: 2px solid #000000;
      border-left: 0!important;
    }
  }
  .search-tags {
    font-size: 12px;
    width: 560px;
    margin: 10px auto;

    .tags {
      letter-spacing: 1.2px;
      padding: 2px 8px;
      margin: 5px;
      background-color: inherit;
      outline: none;
      border: 1px solid #000000;
      border-radius: 14.5px;
      &.active {
        background-color: #000000;
        color: #fff;
      }
      &:hover {
        color: #FB767B;
      }
    }
  }
}

// Media
@import "./media";
