.main-box {
  text-align: center;
}
.top-bootcamps-nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}
.top-bootcamps-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  clear: both;
  }
  .top-bootcamps-nav h4 {
    font-weight: 800;
  }
  .top-bootcamps-nav a {
    font-weight: 800;
    color: inherit;
  }
  .top-bootcamps-list-row {
    position: relative;
    margin: 1.2em auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* TODO */
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-column-gap: calc(( 100% - (180px * 4) ) / 3)
  }
  .bootcamp-logo-wrapper {
    background-color: #d7d7d7;
    position: relative;
    vertical-align: top;
  }
  .bootcamp-logo-wrapper img {
    height: 180px;
    width: 180px;
    /* object-fit: contain; */
    border: 1px solid #d7d7d7;
  }
  .schoolnames-wrapper {
    text-align: left;
  }
  .review-overall {
    color: #ff9800;
    position: relative;
    font-size: 14px;
    text-align: left;
    margin: 4px 0;
  }
  #rating-empty-star-main, #rating-full-star-main {
    height: 14px;
    width: auto;
    float: left;
  }
  .total-review-count {
    color: #333;
    margin-left: 0.8em;
    font-size: 12px;
  }
  .schoolnames a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .bootcamp-location {
    font-size: 12px;          
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
    .bootcamp-location span img {
      height: 12px;
      width: auto;
      margin-right: 3px;
      vertical-align: baseline;
    }
  /* MEDIA QUERIES START */
  
  @media only screen and (max-width: 490px) {
    /* ------------------------ for-phone-only ------------------------------------- */
    .bootcamp-section {
      margin-top: 20px;
    }
    .chart-wrapper {
      width: 90% !important;
    } 
    .top-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      width: 200px;
      display: grid;
      grid-template-columns: repeat(1, 180px);
      grid-column-gap: calc(( 100% - (180px * 1) ) / 3);
      padding: 0 35px;
    }
    
  }
  @media screen and (min-width: 491px) and (max-width: 768px) {
    /*  for-ipad-only  */
    .bootcamp-section {
      margin-top: 20px;
      border-radius: 10px;
    }
    .top-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      display: grid;
      grid-template-columns: repeat(2, 180px);
      grid-column-gap: calc(( 100% - (180px * 2) ));
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1199px) {
    /*  for-ipad-only  */
    .bootcamp-section {
      margin-top: 20px;
      border-radius: 10px;
    }
    .top-bootcamps-list-row {
      position: relative;
      margin: 1.2em auto;
      display: grid;
      grid-template-columns: repeat(3, 180px);
      grid-column-gap: calc(( 100% - (180px * 3) ) / 2);
    }
  }
  @media only screen and (min-width: 1200px) {
    /*  for-desktop-only */
  }
  /* MEDIA QUERIES END */



  /* image alterative */
      /* height: 90%;
    width: 90%; */
    /* object-fit: contain; */
    /* position: absolute; */
    /* margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */