@import "../../../style/config";
@import "./media";

.top-bootcamps-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  clear: both;

  h3 {
    font-family: Halyard Text;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 51px;
    color: #000000;
  }
  a {
    text-decoration: none;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #000000;
    border-bottom: 2px solid #ff3746;
    &:hover {
      text-decoration: none;
    }
  }
}

.top-bootcamps-list-row {
  position: relative;
  margin: 1.2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 24%));
  grid-column-gap: calc((100% - (24% * 4)) / 3);
  font-size: 14px;

  .bootcamp-section {
    margin-bottom: 10px;
  }
  .bootcamp-logo-wrapper {
    background-color: #081432;
    vertical-align: top;
    height: 140px;
    width: 140px;
    padding: 10px; // dirty hack to make logo look better on the center 1
    overflow: hidden;
    .logo-fke-brder {
      border: 5px solid transparent; // dirty hack to make logo look better on the center 2
    }
    img {
      height: 110px; // 140 - 10(padding) - 10(border)
      width: 110px;
    }
  }
  .schoolnames-wrapper {
    text-align: left;

    .schoolnames {
      a {
        font-family: Halyard Text;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 27px;
        color: #000000;
        &:hover {
          color: #ff3746;
          transition: 0.1s linear;
        }
      }
    }
  }
  .review-overall {
    color: $orange;
    position: relative;
    margin: 4px 0;
    text-align: left;
    .star-rating-container {
      #rating-empty-star-main,
      #rating-full-star-main {
        height: 12px;
        width: auto;
        float: left;
        margin-right: 1px;
      }
    }
    .total-review-count {
      margin-left: 0.4em;
      font-family: Halyard Text;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      color: #000000;
    }
  }
  .bootcamp-location {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-family: HalyardTextBook;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    span {
      margin-top: 2px;
      margin-right: 3px;
    }
    img {
      height: 14px;
      width: auto;
      margin-right: 3px;
    }
  }
}

@import "media";
