// @use 'config';
@import 'config';

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: $mainBg;
  width: 100%;
  height: 100%;
}

#root {
  min-height:100%;
  position:relative;
}

// MEDIA
@import './media';


