/* WRAPPER -------------  */
.main-wrapper {
  position: relative;
  margin: 0;
  min-height: 100%;
  text-align: center;
  background: linear-gradient(#a1cee1,#34c8fb);
  padding: 0.8em 0.8em 8em 0.8em;
}

.bootcamps-list-row {
  position: relative;
  width: 90%;
  margin: 0.8em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bootcamp-section {
  /* display: inline-block; */
  /* width: calc((100% / 4) - (0.8em * 2)); */
  /* min-height: 520px; */
  flex-basis: calc(90% / 3);
  box-shadow: 1px 1px 5px gray;
  text-align: left;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 1em;
  margin: 0.8em 0;
  vertical-align: top;
}
.company-definition-wrapper {
  /* TODO: find better way to keep LEARN MORE at the bottom */
  min-height: 380px;
  clear: both;
}
.review-overall {
  color: #ff9800;
  text-align: center;
  margin-top: 0;
  font-size: 80%;
}
.overall-review-rating-stars {
  margin: 0.8em 0;
}
.overall-review-rating-stars img {
  width: 20px;
  height: auto;
}
#bootcamp-definition,
#bootcamp-definition-text {
  font-size: 80%;
  padding: 0.2em;
  color: #636363;
}
#bootcamp-highlight {
  font-weight: 600;
  color: #000000;
}
.review-logo-header {
  color: rgb(64, 64, 64);
}
.bootcamp-logo-wrapper {
  background-color: rgb(64, 64, 64);
  box-shadow: 0 0.4em 0.8em rgba(64, 64, 64, 0.8);
  height: 80px;
  width: 80px;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
}
.bootcamp-logo-wrapper img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40%; /* Half the height */
  margin-left: -40%; /* Half the width */
  z-index: 1;
}
.schoolnames-wrapper {
  width: 100%;
  vertical-align: top;
  text-align: center;
  margin-top: 0.8em;
}
.schoolnames a {
  text-decoration: none;
  color: inherit;
}
/* rating stars */
#rating-empty-star-main, #rating-full-star-main {
  height: 15px;
  width: auto;
}
/* more review  text */
.more-reviews-wrapper {
  text-align: center;
}
.more-reviews {
  padding: 0.8em;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.more-reviews:hover {
  background-color: #b2eaf2;
  border: 1px solid #f2f2f2;
  transition: 0.5s ease-in-out;
}
.more-reviews a {
  text-decoration: none;
  color: rgb(64, 64, 64);
}

/* MEDIA QUERIES START */

@media only screen and (max-width: 599px) {
  /*  for-phone-only  */
  .bootcamp-section {
    display: block;
    flex-basis: 100%;
  }
  .company-definition-wrapper {
    min-height: 280px;
  }
  .intro {
    width: 90% !important;
  }
  .chart-wrapper {
    width: 90% !important;
  }
}
@media screen and (min-width: 599px) and (max-width: 1199px) {
  .bootcamp-section {
    flex-basis: calc(90% / 2);
  }
  .intro {
    width: 60% !important;
  }
}
@media only screen and (min-width: 1200px) {
  /*  for-desktop-only */
}
/* MEDIA QUERIES END */


