/* imports */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");

/* GLOBALS */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Noto Serif", serif;
  text-align: center;
}

/* REVIEW PAGE START----------- */
input,
button,
textarea,
select {
  outline: none;
}

.reviews-content-wrapper {
  width: 50%;
  margin: 100px auto;
  font-size: 13px;
}
.reviews-header {
  font-size: 16px;
  margin: 3em;
  font-weight: bold;
}
.write-review-btn {
  background: #6c5399;
  float: left;
  margin: 0.8em 0;
  padding: 0.4em 0.6em;
  color: #fff;
  line-height: 22px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
#reviews-header-span {
  color: rgb(255, 153, 0);
}
/* reviews */
.review-overall .fa-star {
  color: rgb(255, 153, 0);
}
.customer-reviews {
  background: inherit;
}
.review-wrapper {
  background: #fff;
  padding: 5px 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 4px 0px #ccc;
  text-align: left;
}
#review-author {
  margin: 0;
  color: #922820;
  font-style: italic;
}
#review-date {
  margin: 0;
  font-style: italic;
  color: #999;
}
#review-pros,
#review-cons {
  width: 100%;
  text-align: left;
  font-size: 80%;
}
#review-pros span {
  color: #367e39;
}
#review-cons span {
  color: #922820;
}
#review-text {
  overflow: auto;
  padding: 0.2em 0.8em;
  text-align: center;
}
#year-graduated {
  color: #999;
}

/* leave a review box */
.leave-review {
  width: 100%;
  box-shadow: 0 0 4px 0px #a2c4de;
  display: block;
  background: burlywood;
  top: 150px;
}
.leave-review-box {
  border: none;
  border-radius: 0;
  width: 100%;
  background: #a2c4de;
  text-align: center;
  padding: 0.5em;
}
.leave-review-label {
  width: 100%;
  text-align: left;
}
.leave-review-warning {
  color: #922820;
  font-size: 9px;
}
.leave-review-row1 {
  display: flex;
  justify-content: space-between;
  margin: 0.8em 0;
}
.leave-review-row2 {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.8em 0;
}

/* REVIEW PAGE END----------- */

footer > p::selection {
  background: #6799ff;
  color: #fff;
}
